body {
    font-family: Arial, sans-serif;
    margin: 40px;
    max-width: 1200px;
}

h1, h2 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px auto;
}

th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center; /* center table headers */
    background-color: #f9f9f9;
}

td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

td.transcript {
    direction: rtl; /* set right-to-left for Arabic text */
    text-align: right;
}


audio {
    width: 200px;
}
